@import 'styles.css';
@import 'fonts.css';
@import 'reset.css';
@import './variables/size.css';

#select-text {
  color: #bb0591;
  font-weight: bold;
}

* {
  font-family: 'Futura PT';
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
