@import 'styles.css';
@import 'fonts.css';

#select-text {
  color: var(--select-text);
  font-weight: bold;
}

* {
  font-family: 'Futura PT';
  font-size: 16pt;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
