@import 'styles.css';
@import 'fonts.css';
@import './variables/size.css';

#select-text {
  color: var(--select-text);
  font-weight: bold;
}

* {
  font-family: 'Futura PT';
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
