.ant-btn span {
  color: var(--button-text-color);
}

.ant-message {
  color: var(--main-color) !important;
}

.ant-message-notice-content {
  background-color: var(--bg-element-bold-color) !important;
}

.ant-card {
  background-color: var(--bg-element-bold-color);
  border: 1px solid var(--black-border-color);
}

.ant-card-meta-title,
.ant-card-meta-description {
  color: white !important;
}

.ant-pagination {
  margin: auto !important;
  text-align: center !important;
  width: 70%;
}

.ant-pagination svg {
  fill: var(--pink-text-color);
}

.ant-pagination-item a {
  color: var(--select-text) !important;
  font-weight: bold;
}

.ant-pagination-item {
  background-color: transparent !important;
  border: 1px solid var(--black-border-color);
}

.ant-pagination-item a {
  color: white !important;
}

.ant-pagination-item-active {
  border-color: var(--pink-text-color) !important;
  font-weight: bold;
}

.ant-pagination-item-link {
  font-weight: bold;
}

.h-card__content p {
  padding: 0 !important;
  margin: 0 !important;
}

.ant-input-wrapper * {
  background-color: var(--bg-element-bold-color) !important;
  border: 1px solid var(--black-border-color) !important;
  color: var(--pink-text-color) !important;
}

.ant-input-group-addon * {
  border: none !important;
}
