.ant-btn span {
  color: var(--button-text-color);
}

.ant-message {
  color: var(--main-color) !important;
}

.ant-message-notice-content {
  background-color: var(--bg-element-bold-color) !important;
}
