:root {

  --main-color: #1f1f1f;

  /*
    BTN
  */
  --main-btn-color: #CA0A9E;
  --select-text: #CA0A9E;
  --main-btn-hover-color: #531dab;

  --header-color: #bfbfbf;
  --main-text-color: #fff0f6;
}
